*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body { 
    font-family: 'poppins', sans-serif; 
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('background\ image.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    text-align: center;
    
}

header h1 {
    font-size: 85px;
    margin-top: 180;
    font-weight: 500;
}

header p {
    font-size: 20px;
    margin: 2.5rem 0;
}

header a.cta { 
    background-color: #fff;
    border: 1px solid #333;
    color: #333; 
    padding: 1rem 2rem; 
    text-decoration: none;
    border-radius: 60px;
    margin-top: 1rem;
    transition: all 0.2s;
}

header a.cta:hover { 
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 7%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
}

section {
    width: 80%;
    text-align: center;
    margin: 2rem;
}

section h2 { 
    font-size: 2rem;
    margin-bottom: 1rem;
}

section form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

section input[type="text"],
section input[type="email"],
section input[type="tel"],
section textarea {
    width: 100%; 
    padding: 1rem; 
    font-size: 1.1rem; 
    margin-bottom: 1rem; 
    border-radius: 5px;
    border: none;
    outline: none;
    background: #f2f2f2;
}

section button[type="submit"] { 
    background-color: #00137e;
    color: #fff;
    padding: 1rem;
    border: none; 
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}


footer {
    background-color: #00137e;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-item i {
    margin-right: 0.5rem;
    font-size: 18px;
}

.footer-item span {
    font-size: 14px;
    margin-left: 0.5rem;
}

.footer-item p {
    font-size: 14px;
    margin: 0;
}

.footer-item a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    header {
    flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    section{
        width: 100%;
    }
}
header img {
    width: 100px;
    margin-bottom: 1rem;
}

#services {
    padding: 4rem 0;
    text-align: center;
}
    #services h2 {
    margin-bottom: 2rem;
    }

    .service {
    width: 30%;
    display: inline-block;
    padding: 0 2rem;
    text-align: center;
    }

    .service img {
    width: 100%;
    margin-bottom: 1rem;
    
    }
    @media only screen and (max-width: 600px) {
    .service {
        width: 100%;
        margin: 2rem 0;
        }
    }
#contact h2{
    margin-bottom: 2rem;
}

#about p{
    font-size: 25px; 
    line-height: 1.6; 
}

.company-name {
    color: #2E343D;
    
}

.management-text {
    color: #A18243;
}

.text-box {
    text-align: center;
    margin-top: 20px; 
}

.text-box h1{
    font-size: 190px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.text-box p {
    font-size: 20px;
    margin-bottom: 30px; 
    color: #fff;
}
